<%# <div class="container"> %>

  <h1>Welcome to Wheely</h1>
  <p>"Get Rolling with Wheely!"</p>

  <%= link_to "Add a car", new_car_path, class:"btn btn-success" %>

  <div class="cars-container">
      <% @cars.each do |car| %>
<%= link_to car_path(car) do %>
    <div class="car-trip">
      <%= cl_image_tag car.photo.key %>
      <div class="car-trip-infos">

          <h2><%= car.name %></h2>

        <h2 class="car-trip-pricing">£ <%= car.price_per_day %></h2>
        

      </div>
    </div>
    <% end %>
        <% end %>
  </div>
<%# </div> %>
