<div class="show-car-container">
  <div class="content-show">
    <div class="img-show">
      <%= cl_image_tag @car.photo.key, height: 300, width: 300, crop: :fill, class: "pic" %>
    </div>

    <div class="info-show">
      <h1 class="car-name"><%= @car.name %></h1>
      <h3 class="car-category"><strong>Category:</strong> <%= @car.category %></h3>
      <h3 class="car-price"><strong>Price per Day:</strong> <%= "$#{@car.price_per_day}" %></h3>
      <h3 class="car-brand"><strong>Brand:</strong> <%= @car.brand %></h3>
      <h3 class="car-owner"><strong>Owner:</strong> <%= @car.user.email %></h3>
    </div>
  </div>

  <hr>

  <% unless @car.user == current_user %>
    <div class="booking-new">
      <h2>Book This Car</h2>
      <%= simple_form_for [@car, Booking.new] do |f| %>
        <%= f.input :date, as: :string, input_html: { data: { controller: "flatpickr", flatpickr_unavailable_value: @car.unavailable_dates } } %>
        <%= f.input :duration %>
        <%= f.submit %>
      <% end %>

    </div>
  <% end %>
</div>
